.footer_container{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    bottom: 0px;
    left: 0;
}
.footer_add_vote{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}
.footer_menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add_vote_button{
    background-color: white;
    border: none;
    font-weight: 800;
    margin-left: 10px;
    cursor: pointer;
}
.save_button{
    background-color: white;
    border: none;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
}
