.container {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  position: fixed;
  background-color: #F9F9F9;
}
.text {
  position: absolute;
  top: 19%;
  left: 10%;
  font-size: 20px;
}
.button_logout {
  width: 88%;
  position: absolute;
  top: 30%;
  margin: 20px;
  padding: 20px 15px;
  background-color: #000000;
  color: #FFE402;
  border-radius: 40px;
  border: none;
  font-size: 15.4px;
  font-weight: bold;
}
.button_cancel {
  width: 88%;
  position: absolute;
  top: 40%;
  margin: 20px;
  padding: 20px 15px;
  background-color: #E5E5E5;
  color: #939393;
  border-radius: 40px;
  border: none;
  font-size: 15.4px;
  font-weight: bold;
}