.box_container{
    margin-top: 10px;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    display: grid; 
    grid-template-columns: repeat(2, 45%); // 각 열이 전체 너비의 45% 차지하도록 설정
    gap: 30px; // 열 사이의 간격 설정
}
.box_container a{
    text-decoration: none;
    color: black;
}
.box{
    height: 160px;
    margin-bottom: 5px;
    padding: 12px;
    background-color: white;
    box-shadow: 0px 0px 13px #cfcfcf;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top{
        align-self: flex-end;
        color: #a7a7a7;
        font-size: 12px;
    }
    .title{
        font-weight: 800;
        font-size: 17px;
    }
    .content{
        font-weight: 300;
        font-size: 13px;
    }
    .bottom{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            margin-right: 5px;
        }
        .good{
            color: #F9C81C;
            margin-right: 10px;
        }
        .message{
            color: #343434;
        }
    }
}
.seleted{
    background-color: #E0E0E0;
}