.toast {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E4E4E4;
  color: black;
  padding: 15px 9px;
  border-radius: 10px;
  //transition: opacity 0.3s ease-in-out;
  width: 88%;
  z-index: 999999;
  opacity: 0.9;
  display: flex;
}

.toastContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 8%;
}

.toastContent p {
  margin-top: 4px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.850);
}
.visible {
  opacity: 1;
}
