.content {
  width: 100%;
  background-color: #FFF6D1;
  display: flex;
  padding: 11px 20px;
  align-items: center;
}
.white {
  background-color: white;
}
.content_text {
  width: 80%;
  margin: 0 1rem;
}
.content_text p {
  font-size: 13px;
  margin: 0.5rem 0;
}
.text_container {
  width: 93%;
  display: flex;
  justify-content: space-between;
}
