.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 40px;
}

.hotimg {
  padding-left: 7px;
  margin-bottom: -2px;
}

.link {
  text-decoration: none;
  color: black;

}



.linkContainer {
  margin-bottom: 100px;
}

