.mainbox {
  width: 179px;
  height: 210px;
  border-radius: 20px;
  background-color: #ffc700;
  flex: 0 0 auto;
  padding: 15px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.title {
  border: 1px solid black;
  font-size: 25px;
  font-weight: 900;
  color: black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  margin-top: 20px;
  border: 1px solid black;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
