.box {
  //position: relative;
  height: 220px;
  border-radius: 20px;
  //background-color: white;
  margin-top: 20px;
}

.container {
  //padding-left: 30px;
  //padding-right: 30px;
  margin: 15px 2px;
}

.option {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px; // 각 옵션 사이의 간격
  
  span {
    display: block;
    margin-left: 20%;
  }

  &.selectedOption {
    // 스타일을 여기에 추가하세요
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px #FF8600;
  }
}

.option img {
  border-radius: 10px;
}

.optionStringBox {
  position: relative;
  width: 280px;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 9px;
  background-color: #eeeeee;
}

.optionString {
  margin-left: 12px;
  font-size: 13px;
  height: 100%; 
  display: flex;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: column;
}
.optionPercentage {
  position: absolute;
  color: black;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%); 
  font-size: 13px;
  font-weight: bold;
}
.selectedOptionShadow {
  //border: 2px solid #FF8600; /* Set your desired border color */
  //border-radius: 9px; /* Add border-radius for a rounded appearance, adjust as needed */
  box-shadow: 0px 0px 10px #FF8600; /* Add box-shadow for additional emphasis, adjust as needed */
}

.allCandidate {
  background-color: black;
  height: 100%; 
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.checkImage {
  display: flex;
  margin-right: 10px;
}