.background{
  background: linear-gradient(to bottom, #FFA800, #FFE895);
  width: 70%;
  position: relative;
  left: 24%;
  height: 35vh;
}
.container{
  background-image: url("../public/image/background.png");
  position: absolute;
  background-size: cover;
  top: 60%;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center; /* 화면 전체에서 수직 방향으로 가운데 정렬을 추가 */
  flex-direction: column; 
}
.close{
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5rem;
  left: 50vw;
}
.close p{
 font-size: 1.6rem;
 font-weight: bolder;
 margin-right: 15px;
}
.imgContainer{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imageShadow {
  border-radius: 50%;
  margin-top: -3rem;
  /* 수평 8px, 수직 8px, 30px 흐림, 6px 크기 */
  box-shadow: 8px 8px 30px 6px rgba(0, 0, 0, 0.3);
}
.edit{
  margin-top: -2.5rem;
  margin-right: -6.5rem;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name{
  height: 20%;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.rank{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.8rem;
  background-color: #222222;
  color: #FFC700;
  border-radius: 30px;
  font-size: 1.3rem;
  margin: 0.9rem 0;
}
.rowContainer{
  width: 70%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
  padding: 25px 25px;
}
.colContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  color: black;
  text-decoration: none;
}
.colContainer a{
  color: black;
  text-decoration: none;
}
.boldText{
  padding: 0.4rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.boldText::after{
  content: "";
  display: block;
  width: 30px;
  border-bottom: 3px solid #FFC13A;
  margin: 0.8rem auto 0.08rem;
}
.text{
  width: auto;
  font-size: 1.2rem;
  margin: 0.7rem auto;
}
.withBorderTop {
  border-top: 0.1rem solid #cccccc; 
}
.grid{
  width: 70%;
  display: grid;
  grid-template-columns: 32vw 1fr;
  grid-template-rows: repeat(2, 0.5rem);
  gap: 25px 10px;
  padding: 1.3rem;
  margin-left: 14vw;
  align-items: center;
  cursor: pointer;
}
.grid p{
  font-size: 1.3rem;
  font-weight: bold;
}
