.modal{
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  position: fixed;
  background-color: #343434;
  z-index: 1;
}
.background{
  background: linear-gradient(to bottom, #FFA800, #FFE895);
  width: 70%;
  position: absolute;
  right: 0;
  height: 35vh;
  z-index: 2;
}
.container{
  background-image: url("../../public/image/background.png");
  position: absolute;
  background-size: cover;
  top: 60%;
  width: 100%;
  height: 71vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}
.close{
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5rem;
  left: 50vw;
}
.close p{
 font-size: 1.6rem;
 font-weight: bolder;
 margin-right: 15px;
}
.grid{
  width: 70%;
  display: grid;
  grid-template-columns: 34.5vw 1fr;
  grid-template-rows: repeat(2, 0.5rem);
  gap: 25px 10px;
  padding: 1.3rem;
  margin-left: 14vw;
  align-items: center;
  cursor: pointer;
}
.grid p{
  font-size: 1.3rem;
  font-weight: bold;
}
