.container {
  height: 100vh;
  // width: 86vw;
  // padding-left: 30px;
  // padding-right: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.header_container {
  width: 100%;
  display: flex;
  height: 55px;
  align-items: center;
  position: sticky;
  justify-content: center;
  top: 0;
  text-align: center;
  padding-top: 3px;
}

.logo {
  padding-left: 25px;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.menu_container {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
  padding-right: 15px;
}

.menu {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.content_container {
  height: calc(100vh - 50px);
  width: 86vw;
  padding-right: 70px;
  background-color: white;
}

.without_vote_container {
  margin-left: 30px;
}

.userimg {
  margin-bottom: -10px;
}
.userlay {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.usertext {
  display: flex;
  text-align: center;
  margin-left: 35px;
  margin-top: -5px;
}

.username {
  font-size: 13px;
  color: black;
  font-weight: 600;
  margin-top: -10px;
  margin-left: 3px;
  width: 200px;
}

.time {
  font-size: 13px;
  color: #8f8f8f;
  font-weight: 500;
}

.date {
  font-size: 13px;
  color: #8f8f8f;
  font-weight: 500;
}

.morebtn {
  padding-left: 180px;
  display: flex;
  align-items: center;
}

.more_container {
  position: absolute;
  top: 4.8rem;
  left: 60.7%;
  padding: 5px;
  background-color: #6d6d6d;
  color: white;
  border-radius: 20px;
}
.more_container p {
  margin: 13px;
  font-size: 13px;
  font-weight: 500;
}

.rerender {
  padding-right: 15px;
}

.title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: black;
}

.point_done {
  width: 76px;
  height: 21px;
  border-radius: 8px;
  font-size: 12px;
  background-color: #ffc700;
  color: black;
  padding-top: 8px;
  margin-top: -3px;
  //margin-left: 210px;
}

.point {
  width: 76px;
  height: 21px;
  border-radius: 8px;
  font-size: 12px;
  background-color: black;
  color: #ffc700;
  padding-top: 8px;
  margin-top: -3px;
  //margin-left: 210px;
}

.content {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #343434;
}

.imgSlide {
  //margin-top: 38px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.taglay {
  margin-top: 47px;
  display: flex;
  align-items: center;
}

.tag {
  font-size: 13px;
  font-weight: 500;
  color: #ff9c00;
  padding-right: 160px;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f6f;
  margin-top: 10px;
  gap: 7px;
}

.minititle {
  width: 320px;
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
}

.line {
  font-size: 13px;
  color: #969696;
  padding-left: 5px;
  padding-right: 5px;
}

.vote_container {
  background-color: #fffbeb;
  width: 100vw;
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 25px;
}
.pointnum {
  padding-right: 5px;
}
.timeimg {
  padding-left: 5px;
  padding-right: 2px;
}

.footer {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-top: 25px;
  gap: 2px;
}

.countview {
  color: #000000;
  padding-right: 10px;
}
.like {
  color: #f9c81c;
  padding-right: 10px;
}
.comment {
  color: #4f4f4f;
}

.mini {
  font-weight: 700;
  font-size: 15px;
}

.underlay {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}

.img {
  margin-right: 4px;
}

.content_container_blur {
  height: calc(100vh - 50px);
  width: 86vw;
  padding-right: 70px;
  background-color: white;
  filter: blur(7px);
}
