.rowContainer{
  width: 90%;
  margin: 2.5rem 0 0.8rem;
  display: flex;
  align-items: center;
}
.rowContainer h5{
  font-size: 17px;
  font-weight: bold;
}
.grid{
  width: 90%;
  display: grid;
  grid-template-columns: 5.5rem 16rem;
  margin: 0.5rem 0 0.3rem;
}
.font1{
  font-size: 14px;
  color: #656565;
  position: relative;
  font-weight: 600;
}
.font1::after {
  content: ""; 
  height: 80%;
  margin: 0.2rem 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 0.1rem solid #9B9B9B; 
}
.font2{
  font-size: 14px;
  padding-left: 1.9rem;
  font-weight: 600;
}