.rowContainer{
  width: 90%;
  display: flex;
  align-items: center;
  margin: 2.2rem 0 0;
}
.rowContainer h5{
  font-size: 17px;
  font-weight: bold;
}
.rowContainer p{
  font-size: 14px;
  font-weight: 900;
}
.selectContainer{
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0 0 0.7rem;
  border-bottom: 2px solid #FFC700;
  font-size: 14px;
  font-weight: 800;
}
.disabled{
  border:none;
  color: #8B8B8B
}
.grid{
  display: grid;
  margin-left: 0.3rem;
  grid-template-columns: 2.9rem 14.7rem 3.6rem;
}
.paginationContainer{
  width: 40%;
  padding: 10px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.paginationContainer button {
  padding: 8px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
}
.paginationContainer button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}