.rowContainer{
  width: 90%;
  display: flex;
  align-items: center;
  margin: 1.5rem 0 0;
}
.rowContainer h1{
  font-size: 17px;
}
.rowContainer2{
  width: 85%;
  display: flex;
  align-items: center;
}
.alignRight{
  justify-content: flex-end;
}
.container{
  width: 85%;
  display: flex;
}
.text{
  width: 40%;
  color: #FF9900;
  font-size: 14px;
  font-weight: 800;
  margin-left: -0.6rem;
}
.title1{
  color: #767676;
  font-size: 14px;
  font-weight: 595;
}
.title2{
  color: #B2B2B2;
  font-size: 14px;
  font-weight: 595;
}
.font{
  margin-left: 0.3rem;
  font-size: 14px;
  font-weight: 600;
}
