.title {
  font-size: 20px;
  font-weight: 700;
  color: black;
  margin-top: 54px;
}

.boxlay {
  margin-top: 28px;
}

.waitimg {
  padding-left: 10px;
  margin-bottom: -4px;
}

.morebtn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  color: black;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}
