.container{
    position: relative;
    display: flex;
    align-items: center;
    width: 93%;
    height: 23px;
    padding: 10px;
    padding-left: 10px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-bottom: 15px; // 기본값
}
.with-dropdown {
    margin-bottom: 300px; // dropdown_container 렌더링 시의 아래 여백
}
.dropdown_container{
    position: absolute;
    top: calc(100% + 5px); /* 부모 요소인 .container 바로 아래에 위치하도록 설정 */
    left: 0;
    width: 88%;
    height: 278px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-bottom: 15px;
}
.category{
    font-size: 13px;
    padding-left: 10px;
    color: #A5A5A5;
    height: 14px;
    padding: 16px 20px;
}
// 선택된 카테고리
.category.selected {
    background-color: #CCCCCC; 
    color: #333333; /* 폰트 색상 변경 */
}
.selectedEducation{
    background-color: #CCCCCC; 
    color: #333333;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.selectedEtc{
    background-color: #CCCCCC; 
    color: #333333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.text{
    width: 93%;
    font-size: 13px;
    padding-left: 10px;
    color: #A5A5A5;
}
.selectedText{
    width: 93%;
    font-size: 13px;
    padding-left: 10px;
    color: #000000;
}
.button{
    width: 7%;
}
