.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    span{
        font-weight: bold;
        font-size: 17px;
    }
    .check_container{
        display: flex;
        align-items: center;
        img{
            margin-right: 8px;
        }
        div{
            margin-right: 8px;
            font-size: 14px;
        }
    }
}
.content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.img_container{
    width: 43px;
    height: 43px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_container{
    display: flex;
    align-items: center;
    width: 78%;
    height: 23px;
    padding: 10px;
    padding-left: 10px;
    background-color: #F5F5F5;
    border-radius: 30px;
}
.box_container input {
    color: black;
    font-weight: bold;
}
.write_item{
    width: 90%;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    color: #A5A5A5;
    caret-color: #A5A5A5;
}
.write_item::placeholder{
    color: #A5A5A5;
    font-weight: 200;
}
.delete_button{
    display: flex;
    width: 10%;
    margin-right: 5px;
}
.add_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.add_context{
    font-size: 13px;
    margin-bottom: 20px;
}