.container{
    display: flex;
    align-items: center;
    width: 93%;
    height: 23px;
    padding: 10px;
    padding-left: 10px;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-bottom: 15px;
}
.text{
    width: 93%;
    font-size: 13px;
    padding-left: 10px;
    color: #A5A5A5;
}
.selectedDateTime{
    width: 93%;
    font-size: 13px;
    padding-left: 10px;
    color: #000000;
}
.button{
    width: 7%;
}